<h2>日記投稿</h2>

<%= form_with model: @post do |form| %>
<div class="add">
    <div class="title">
      <span class = "label">
        タイトル
      </span>
      <%= form.text_field :title, class: "form"%>
    </div>
    <div class="letter">
      <span class="label">
        本文
      </span>
      <%= form.text_area :body, class: "form"%>
    </div>
    <div class = "qol">
      <span class="label">
        QOL
      </span>
      <%= form.number_field :qol,min: 0 ,max: 2,step: 1, class: "form" %>
    </div>
  <div class = "submit">
      <%= form.submit "投稿", class: "form"%>  
  </div>
</div>

<% end %>