<h2 class="list">日記一覧</h2>

<div class="explain_color">
    low
    <span class="gradient">　　　　　　　　　　</span>
    high
</div>

<% @posts.reverse_each do |post|%>
    <% color = calc_color(post.qol) %>
    <div class = "daily"
        style="background-color: <%= color %>;">

        
       <div class="title">
            <%= post.title %>
            <form action= "/daily/<%= post.id %>" method = "POST">
                <input name="_method" type="hidden" value="DELETE">
                <button type="submit" class = "delete">
                    <img src="<%= asset_path('trash.png') %>" alt="Delete">
                </button>
            </form>
            <a href = "/daily/<%= post.id%>">
                <button type="submit" class = "edit">
                    <img src="<%= asset_path('pencil.png') %>" alt="Edit">
                </button>
            </a>
        </div>
        </form>
        <div class = "letter"><%=simple_format(post.body) %></div>    
        <div class = "date">
            <%= post.created_at.in_time_zone('Tokyo') %>
        </div>   
    </div>     

<% end %>
