<h2 class="list">日記一覧</h2>

<div class="explain_color">
    low
    <span class="gradient">　　　　　　　　　　</span>
    high
</div>

<% @posts.reverse_each do |post|%>
    <% color = calc_color(post.qol) %>
    <div class = "daily"
                style="background-color: <%= color %>;">

        <form action= "/daily/<%= post.id %>" method = "POST">
            <input name="_method" type="hidden" value="DELETE">
            <div class="title">
                <%= post.title %>
                <button type="submit" class = "delete">
                    <img src="<%= asset_path('trash.png') %>" alt="Delete">
                 </button>

            </div>
        </form>
        <div class = "letter"><%=simple_format(post.body) %></div>    
        <div class = "date">
            <%= post.created_at.in_time_zone('Tokyo') %>
        </div>   
    </div>     

<% end %>
