<h3>日記投稿</h3>

<%= form_with model: @post do |form| %>
  <p><%= form.text_field :title %></p>
  <p><%= form.text_area :body, size: "60x10" %></p>
  <p><%= form.text_field :qol %></p>
  <p><%= form.submit "投稿"%></p>
<% end %>

<h3>日記一覧</h3>

<% @posts.each do |post|%>
    <form action= "/daily/<%= post.id %>" method = "POST">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="_method" type="hidden" value="DELETE">
        <h4>
        <%= post.title %>
        <button type="submit">DEL</button>
        </h4>
    </form>
        <p><%= post.body %></p>
        <p><%= post.qol%></p>
        
<% end %>
