<!DOCTYPE html>
<html>
  <head>
    <title>QolDaily</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="header">  
    <a href="/daily"><div>日記一覧</div></a>
    <a href="/daily/add"><div>日記投稿</div></a>
  </div>
    <%= yield %>
  </body>
</html>
